// Page header
body {
  background: linear-gradient(165deg, #f7931d, #f05a28);
  background-size: 100%;
  background-attachment: fixed;
}

.title-bar { 
  background: transparent;
}

.splash {
  @include xy-grid-container;
  @include xy-grid;


  .splash-content {
    @include xy-cell(10);
    @include xy-cell-offset(1);
    padding: 4rem 0;
    text-align: center;
  }

  .splash-content .splash-logo {
    width: 44%;
    margin: 0 auto;

    svg .fillwhite {                            
      fill: #fff;
      //transition: .4s ease-in-out;                
    }
    
  }

  
}
