.main-wrap {
    @include xy-grid-container;
    @include xy-grid();
    margin-top: 1rem;
    @include breakpoint(medium) {
        margin-top: 3rem;
    }
    &.sidebar-left {
        // Place the sidebar below main content on small screens ...
        @include breakpoint(small) {
            .main-content {
                order: 1;
            }
            .sidebar {
                order: 2;
            }
        }
        // ... and to the left on medium-up screens, when using the sidebar-left template
        @include breakpoint(medium) {
            .main-content {
                order: 2;
            }
            .sidebar {
                order: 1;
            }
        }
    }
    // Full width template
    &.full-width {
        .main-content {
            @include breakpoint(small) {
                @include xy-cell(10);
                @include xy-cell-offset(1);
            }
            @include breakpoint(medium) {
                @include xy-cell(8);
                @include xy-cell-offset(2);
            }
            @include breakpoint(large) {
                @include xy-cell(10);
                @include xy-cell-offset(1);
            }
            @include breakpoint(xxlarge) {
                @include xy-cell(12);
                @include xy-cell-offset(0);
            }
        }
    }
    .main-content {
        // Default template
        @include breakpoint(small) {
            @include xy-cell(12);
        }
        @include breakpoint(medium) {
            @include xy-cell(8);
        }

        h1 {
            text-transform: uppercase;
            letter-spacing: -2px;
            color: $fisheyemedgray;
        }

        h2 {
            font-family: $body-font-family;            
            font-weight: bold;
            color: $fisheyeblack;
        }

        h3 {
            margin-bottom: 2rem;
        }

        .entry-title {
            @include breakpoint(small) {
                position: relative;
            }     
            @include breakpoint(large) {
                //position: fixed;                   
            }        
        }
        .entry-content {
            @include breakpoint(small) {
                padding-top: 1rem;
            }   
            @include breakpoint(large) {
                padding-top: 5rem;
            }   
                 
            
            .page-nav {
                @include breakpoint(small) {
                    position: relative;
                    margin-bottom: 4rem;
                    width: 100%;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height:2px;
                        bottom: -1rem;                        
                        background: linear-gradient(165deg, #f7931d, #f05a28);
                        background-size: 100%;    
                    }
                }

                @include breakpoint(large) {
                    @include xy-cell(4);      
                    margin: 0;

                    &::after {
                        display: none;  
                    }
                }
                

                ul {
                    position: relative;
                    list-style: none;
                    margin: 0;


                    a {
                        display: block;
                        position: relative;
                        padding-right: 1rem;
                        font-family: $header-font-family;
                        font-size: rem-calc(22);
                        color: $fisheyeblack;                        

                        &::after {
                            content: '';
                            position: absolute;
                            top: rem-calc(12);
                            right: 0;
                            width: 0; 
                            height: 0; 
                            border-top: rem-calc(5) solid transparent;
                            border-bottom: rem-calc(5) solid transparent;
                            border-left: rem-calc(5) solid $fisheyeblack;;
                        }

                        &:hover, &:focus {
                            color: $fisheye1;

                            &::after {
                                border-left: rem-calc(5) solid $fisheye1;;
                            }
                        }
                    }
                }
            }

            .page-nav-content {
                @include breakpoint(large) {
                    @include xy-cell(7);
                    @include xy-cell-offset(1);
                }
                
                section {
                    @include breakpoint(small) {
                        padding-bottom: 1.5rem;
                        margin-bottom: 2.5rem;
                        border-bottom: solid 2px $fisheyelightgray;
                    }                    

                    @include breakpoint(large) {
                        padding-bottom: 4rem;
                        margin-bottom: 4rem;
                    }                    
                }
            }
        }

        
    }
    .sidebar {
        @include breakpoint(small) {
            @include xy-cell(12);
        }
        @include breakpoint(medium) {
            @include xy-cell(4);
            margin-top: 1rem;
        }
    }
}

.edit-link {
    display: none;
}